:root {
    /** Primary colors **/
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-rows: auto minmax(min-content, 1fr) auto;
    padding: 0 2.2rem;
    background: url("../images/bg-mobile.svg"), var(--violet);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

header {
    margin-top: 2rem;
}

header .logo {
    width: 8rem;
}

main {
    
    display: grid;
    align-self: start;
    text-align: center;
}

main .illustration {
    max-width: 100%;
    margin: 4rem 0;
}

main .heading {
    color: white;
    font-size: calc(1.5rem + 0.990625vw);
}

main .description {
    color: rgba(255, 255, 255, 0.76);
    line-height: 1.5;
    margin: 1rem 0;
}

main .register-button {
    justify-self: center;
    padding: .8rem 5.6rem;
    background-color: white;
    color: var(--violet);
    margin: 1rem 0;
    border-radius: 4rem;
    box-shadow: 0 5px 1rem 0 hsla(0, 0%, 0%, .5);
    transition: all .3s;
}

main .register-button:hover {
    background-color: var(--soft-magenta);
    color: white;
    cursor: pointer;
}

footer {
    margin: 2.5rem 0;
    align-self: end;
    color: white;
    display: grid;
    gap: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    transition: all .3s;
}

.social-icons .icon:hover {
    border-color: var(--soft-magenta);
    color: var(--soft-magenta);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(184, 100%, 76%); }

@media (min-width: 765px) {
    body {
        padding: 0 4.5rem;
        background-image: url("../images/bg-desktop.svg");
        background-size: 100% 100%;
    }
    header .logo {
        width: auto;
    }
    
    header {
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    main {
        grid-template-columns: 2.5fr 1.5fr;
        gap: 3rem;
        text-align: left;
        align-self: start;
    }
    
    main .illustration {
        margin: 0;
        width: 100%;
    }

    .content-container {
        margin-top: 2.5rem;
    }
    
    
    main .content-container .register-button {
        padding: 2vh 4vw;
        font-size: 1.2rem;
        font-weight: 700;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .social-icons {
        order: 1;
    }
}